.loginBody {
    background: #008079;
    font-family: Helvetica, serif;
}

.menuBody {
    height: 100%;
    font-family: Helvetica, serif;
}

.profileBody {
    background: white;
    font-family: Helvetica, serif;
}

.signUp {
    background: #0e0e0e url(../img/hero-lg.jpg) no-repeat;
    background-size: 130%;
    font-family: Helvetica, serif;
}

.login {
    background: whitesmoke;
    border: 50px solid whitesmoke;
    border-radius: 15px;
    width: auto;
    max-width: 350px;
    height: auto;
    max-height: 950px;
    margin: 90px auto auto;
}

.menu {
    min-height: 820px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
}

input {
    font-size: 25px;
    height: 50px;
    width: 570px;
    align-content: center;
}

.passwordInput {
    /*background: url(../img/passLogo.png) left no-repeat;*/
    border: red solid 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 98%;
    margin-top: 16px;
}

.lineOr {
    font-size: 25px;
}

.inputForms {
    font-size: 25px;
    color: red;
    margin-bottom: 16px;
    /*margin: 16px;*/
}

.inputFormsText {
    margin-top: 16px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 36px;
}

.vkLogin {
    align-items: center;
    background: #2a5885;
    display: flex;
    border: solid #2a5885;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 16px;
    padding: 15px;
    text-align: center;
}

.fbLogin {
    align-items: center;
    background: #3b5998;
    border: solid #3b5998;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    padding: 15px;
    text-align: center;
}

.loginMail {
    align-items: center;
    background: #008079;
    border: solid #008079;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    padding: 15px;
    text-align: center;
}

.lineOr {
    text-align: center;
}

.vkLogo {
    height: 25px;
    width: auto;
    margin-right: 12px;
}

.fbLogo {
    height: 25px;
    width: auto;
    margin-right: 12px;
}

.mailLogo {
    height: 25px;
    width: auto;
    margin-right: 12px;
}

.loginInput {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    width: 98%;
}

.signupForm {
    width: auto;
    max-width: 570px;
    height: auto;
    max-height: 950px;
    margin: 260px auto 0px 260px;
}

.loginInputMenu {
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 16px
}

.passwordInputMenu {
    width: 70%;
    border: lightgray solid 1px;
    border-radius: 5px;
    display: flex;
    /*justify-content: center;*/
    margin-top: 16px;
}

.leftSide {
    background: white;
    overflow: auto;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    float: left;
    min-height: 100%;
    max-width: 350px;
    width: 100%;
    margin-top: 8px;
    margin-left: 8px;
}

.profile {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: auto;
    max-width: 550px;
    /*min-height: 600px;*/
    height: auto;
    margin: 16px auto auto;
}

li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
    /*margin: 8px;*/
    margin: 24px 32px 8px 32px;
}

.names {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.localInfoP {
    display: flex;
    flex-wrap: wrap;
    justify-content: initial;
    font-weight: 400;
    margin-top: 12px;
}

.profileH1 {
    margin: 32px 12px 32px 32px;
    text-align: left;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid gray;
    margin: 1em 0;
    padding: 0;
}


.buttonsProfile {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userEditImg {
    width: auto;
    margin-right: 4px;
}

.deleteProfileImg {
    width: auto;
    margin-right: 4px;
}

.changeInfo {
    border: 2px solid #008079;
    border-radius: 8px;
    font-size: 15px;
    width: 200px;
    height: 50px;
    margin: 16px;
    align-items: center;
    background: #008079;
    display: flex;
    justify-content: center;
    text-align: center;
}

.deleteProfile {
    border: 2px solid lightblue;
    border-radius: 8px;
    background: lightblue;
    font-size: 15px;
    width: 200px;
    height: 50px;
    margin: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.info {
    min-height: 60%;
}

.signUpH1 {
    display: flex;
    font-size: 54px;
    justify-content: space-evenly;
    max-width: 1500px;
}

.signUpPage {
    color: white;
    width: auto;
    max-width: 1300px;
    height: auto;
    max-height: 950px;
    margin: 220px auto auto;
}

.signUpInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 570px;
    margin: 60px auto auto;
}

.signUpInputForm {
    border: 2px white solid;
    border-radius: 4px;
    margin: 8px;
    width: 80%;
    /*padding: 0 5px;*/
}

.registrationSignUp {
    border: 2px #008079 solid;
    border-radius: 4px;
    background-color: #008079;
    margin-top: 12px;
    height: 50px;
    width: 60%;
    font-size: 15px;
    font-weight: 900;
    color: white;
}

.FBSignUo {
    margin-top: 12px;
    font-size: 20px;
}

.FBSignUo:visited {
    color: white;
}

.updateProfile {
    background-color: lightgray;
    font-family: Helvetica, serif;;
}

.updateProfilePlace {
    background: whitesmoke;
    border: 5px solid whitesmoke;
    border-radius: 3px;
    width: auto;
    max-width: 400px;
    height: auto;
    max-height: 950px;
    margin: 160px auto auto;
}

.updateH1 {
    text-align: left;
    margin: 16px auto auto 16px; /*top right btm left*/
    font-size: 32px;
    font-weight: 600;
}

.imgUpdate {
    float: right;
    margin-right: 16px;
    height: 25px;
}

.updateProfileMain {
    display: flex;
    flex-direction: column;
}

.Emailupdate, .updateH2, .Emailinput, .buttonsUpdate {
    margin-top: 20px;
    margin-left: 16px;
}

.Emailinput {
    width: 90%;
    border: red 1px solid;
    border-radius: 5px;
    height: 40%;
}

.wrongEmail {
    margin-top: 8px;
    margin-left: 16px;
    color: red;
}

.customSelect {
    margin-top: 8px;
    margin-left: 16px;
}

.phoneNumber {
    /*max-width: 250px;*/
    width: 72%;
    height: 40%;
}

.customSel {
    height: 35px;
}

.buttonsUpdate {
    display: flex;
    flex-direction: row;
}

.update {
    background-color: #008079;
    height: 40px;
    width: 35%;
    border: #008079 1px solid;
    border-radius: 5px;
    margin-right: 8px;
}

.cancel {
    background-color: lightgray;
    height: 40px;
    width: 35%;
    border: gray 1px solid;
    border-radius: 5px;
    margin-right: 8px;
}

.mailHeader {
    background: #008079;
    /*margin: 20px 12px 0;*/
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.menuHeaderImg {
    margin-right: 8px;
}

.buttonsMenu {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /*width: 40vh;*/
    width: 93%;
    margin-left: 12px;
}

.butMenuActive {
    background: #008079;
    border: #008079 1px solid;
    border-radius: 2px;
    width: 100%;
    display: flex;
    margin-bottom: 32px;
}

.but {
    display: flex;
    justify-content: center;
    min-height: 60px;
    border-radius: 2px;
    font-weight: 800;
    font-size: 20px;
}

.butMenuReg {
    background: lightgrey;
    border: lightgray 1px solid;
    border-radius: 2px;
    width: 100%;
    height: 50%;
    display: flex;
    margin-bottom: 32px;
}

.butMenuAuthor {
    background: lightgrey;
    border: lightgray 1px solid;
    border-radius: 2px;
    width: 100%;
    display: flex;
    margin-bottom: 32px;
}

.butMenuPlay {
    background: lightgrey;
    border: lightgray 1px solid;
    border-radius: 2px;
    width: 100%;
    display: flex;
    margin-bottom: 32px;
}

.authText {
    font-weight: 800;
    font-size: 45px;
}

.auth {
    background-color: #008079;
    border: 1px solid #008079;
    border-radius: 6px;
    margin-top: 16px;
    height: 9%;
    width: 40%;
    font-weight: 600;
    font-size: 16px;
    color: white;
}

.menuHref {
    text-decoration: none;
}

.menuHref:visited {
    color: blue;
}