.login {
    background: whitesmoke;
    border: 50px solid whitesmoke;
    border-radius: 15px;
    width: auto;
    max-width: 570px;
    height: auto;
    max-height: 950px;
    margin: 150px auto auto;
}

input {
    font-size: 25px;
    height: 50px;
    width: 570px;
    align-content: center;
}

.passwordInput {
    /*background: url(../img/passLogo.png) left no-repeat;*/
    border: red solid 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.lineOr {
    font-size: 25px;
}

.inputForms p {
    font-size: 25px;
    color: red;
    margin: 15px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
}

body {
    background: darkgray;
}

.vkLogin {
    align-items: center;
    background: #2a5885;
    display: flex;
    border: solid #2a5885;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
}

.fbLogin {
    align-items: center;
    background: #3b5998;
    border: solid #3b5998;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
}

.loginMail {
    align-items: center;
    background: darkgreen;
    border: solid darkgreen;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
}

.lineOr p {
    text-align: center;
}

.vkLogo {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.fbLogo {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.mailLogo {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.loginInput {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 15px
}

