.loginBody {
    background: darkgray;
    font-family: Helvetica, serif;
}

.profileBody {
    background: white;
    font-family: Helvetica, serif;
}

.signUp {
    display: flex;
    align-content: center;
    background: #0e0e0e url(../img/hero-lg.jpg) no-repeat;
    min-height: 455px;
    min-width: 1013px;
}

.login {
    background: whitesmoke;
    border: 50px solid whitesmoke;
    border-radius: 15px;
    width: auto;
    max-width: 350px;
    height: auto;
    max-height: 950px;
    margin: 160px auto auto;
}

.menu {
    max-height: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: red;
}

input {
    font-size: 25px;
    height: 50px;
    width: 570px;
    align-content: center;
}

.passwordInput {
    /*background: url(../img/passLogo.png) left no-repeat;*/
    border: red solid 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.lineOr {
    font-size: 25px;
}

.inputForms {
    font-size: 25px;
    color: red;
    margin-bottom: 16px;
    /*margin: 16px;*/
}

.inputFormsText {
    margin-top: 16px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 36px;
}

.vkLogin {
    align-items: center;
    background: #2a5885;
    display: flex;
    border: solid #2a5885;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 16px;
    padding: 15px;
    text-align: center;
}

.fbLogin {
    align-items: center;
    background: #3b5998;
    border: solid #3b5998;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    padding: 15px;
    text-align: center;
}

.loginMail {
    align-items: center;
    background: darkgreen;
    border: solid darkgreen;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    padding: 15px;
    text-align: center;
}

.lineOr {
    text-align: center;
}

.vkLogo {
    height: 25px;
    width: auto;
    margin-right: 12px;
}

.fbLogo {
    height: 25px;
    width: auto;
    margin-right: 12px;
}

.mailLogo {
    height: 25px;
    width: auto;
    margin-right: 12px;
}

.loginInput {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 16px
}

.signupForm {
    width: auto;
    max-width: 570px;
    height: auto;
    max-height: 950px;
    margin: 160px auto auto;
}

.loginInputMenu {
    width: auto;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 16px
}

.passwordInputMenu {
    width: auto;
    border: red solid 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.leftSide {
    height: 100%;
    max-width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: fill;
}

.profile {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: auto;
    max-width: 550px;
    /*min-height: 600px;*/
    height: auto;
    margin: 16px auto auto;
}

li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
    /*margin: 8px;*/
    margin: 24px 32px 8px 32px;
}

.names {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.localInfoP {
    display: flex;
    flex-wrap: wrap;
    justify-content: initial;
    font-weight: 400;
    margin-top: 12px;
}

.profileH1 {
    margin: 32px 12px 32px 32px;
    text-align: left;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgray;
    margin: 1em 0;
    padding: 0;
}


.buttonsProfile {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userEditImg {
    width: auto;
    margin-right: 4px;
}

.deleteProfileImg {
    width: auto;
    margin-right: 4px;
}

.changeInfo {
    border: 2px solid darkgreen;
    border-radius: 8px;
    font-size: 15px;
    width: 200px;
    height: 50px;
    margin: 16px;
    align-items: center;
    background: darkgreen;
    display: flex;
    justify-content: center;
    text-align: center;
}

.deleteProfile {
    border: 2px solid lightblue;
    border-radius: 8px;
    background: lightblue;
    font-size: 15px;
    width: 200px;
    height: 50px;
    margin: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.info {
    min-height: 60%;
}

.signUpPage {

}
